.product {
  display: flex;
  flex-direction: column;
  background-color: rgb(230, 230, 230);
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 600px;
  min-width: 100px;
  z-index: 1;
}
.product > img {
  max-height: 500px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
  margin-left: 30px;
  margin-right: 30px;
}
.product > button {
  background: rgb(24, 144, 255);
  color: white;
}
.taka {
  font-size: larger;
  padding-right: 5px;
}
.product__info {
  height: 80px;
  font-weight: bold;
}
.product__price {
  margin-top: 5px;
  font-size: medium;
}
.product__rating {
  display: flex;
}
@media screen and (max-width: 1000px) {
  .product__price {
    margin-top: 5px;
    font-size: medium;
  }
  .button_basket {
    margin-top: 3px;
    margin-bottom: 20px;
  }
  .product {
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
    align-items: center;
    justify-content: flex-end;
    margin: 1px;
    padding: 5px;
    width: 100%;
    max-height: 600px;
    min-width: 100px;
    z-index: 1;
  }
  .product_image {
    margin-top: 10px;
  }
}
