.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.checkoutProduct__info {
  padding-left: 20px;
  text-align: left;
}
.checkoutProduct__info > button {
  background: rgb(142, 200, 255);
  border: 1px solid;
  border-radius: 2px;
  margin-top: 10 px;
  border-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.checkoutProduct__image {
  max-height: 150px;
  max-width: 150px;
  object-fit: contain;
  height: 180px;
  width: 180px;
}
.checkoutProduct__rating {
  display: flex;
}
.checkoutProduct__title {
  font-size: 15px;
  font-weight: 700;
  margin-right: 100px;
}
.remove_icon {
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: 60px;
}
